@using Microsoft.AspNetCore.Identity
@using EstateApp.Data.Entities
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if(SignInManager.IsSignedIn(User))
{
    <div class="button navbar-right">
        <form asp-action="post">
            <button class="navbar-btn nav-button wow bounceInRight login" asp-controller="Accounts" asp-action="Logout" data-wow-delay="0.4s">Logout</button>
        </form>                
    </div>
}
else
{
    <div class="button navbar-right">
        <form action="get">
            <button class="navbar-btn nav-button wow bounceInRight login"  data-wow-delay="0.4s" asp-controller="Accounts" asp-action="Login">
               Login
            </button>
            <button class="navbar-btn nav-button wow fadeInRight"  data-wow-delay="0.5s" asp-controller="Accounts" asp-action="Register">
                Register
            </button>
        </form>
       
    </div>
}


